<!-- <p>pet-list works!</p> -->
<h3>List of Pets</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Pet Id</th>
            <th>Customer Id</th>
            <th>Pet Name</th>
            <th>Date of Birth</th>
            <th>Breed</th>
            <th>Gender</th>
            <th>Price</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pet of pets | async | paginate:{itemsPerPage: count, currentPage:p}">
            <td>{{pet.pid}}</td>
            <td>{{pet.cid}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.dob}}</td>
            <td>{{pet.breed}}</td>
            <td>{{pet.gender}}</td>
            <td>{{pet.price}}</td>
            <td>{{pet.status}}</td>
            <td *ngIf="pet.status=='Available'">
                <button (click)="onbutton(pet)" class="btn btn-success">Buy</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
